<head>
    <style>
    
        </style>
</head>
<div class="row mt-5">
<div class="col-md-10 m-auto">
<div class="card card-body bg-warning">
<h1> Contact Form  </h1>
<form method="post" action="/sendmail">
<div class='form-group'> 
    <label for="name">Name </label>
    <input type="text" class="form-control" placeholder="Enter your name" name="name" required>
    </div>
    
    <div class='form-group'> 
        <label for="email">Email </label>
        <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
        </div>   

        <div class='form-group'> 
            <label for="number">Number </label>
            <input type="text" class="form-control" placeholder="Enter your contact number" pattern={0-9}[10] name="number" required>
            </div>      

           <div class="form-group">
        <input type="submit" value="Send Mail" class="btn btn-success form-control">       
        </div> 
</form>
</div>    
</div>    
</div>